.card{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 30px;
}
button{
    float: right;
    color: white;
}
.title{
    text-align: center;
}
.reset{
    margin-right: 10px;
}