/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: cornsilk;
}
.card {
  padding: 20px;
  margin-top: 20px;
}
